<form id="postform" method="POST">
	  <label>username</label><input id="puser" name="username" placeholder="username" /><br />
	  <label>Comment</label><textarea rows="12" cols="60" name="content" placeholder="Please, enter your commet" /></textarea><br />
	  <input id="psb" type="submit" value="Submit" />
  </form>	


  <h3><%= @comment%></h3>