<div id="login">
	<form id="logform" method="POST">
	  <label>email</label><input name="email" placeholder="email" />
	  <label>password</label><input name="password" placeholder="password" /><br />
	  <input id="lgb" type="submit" value="Log In" />
	  </form>	
</div>
<a href="/error">Forgot account?</a>
<a href="/registration">Sign Up</a>


