<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

    <nav>
      <ul>
      <% $menu.each do |item| %>
      <li> <a href="<%= item[:href] %>"> <%= item[:page] %> </a></li>
      <% end %>
      </ul>
    </nav> 

<%= yield %>
</body>
</html>