<div id="recovermain">
<div id="recover">
	<form id="recform" method="POST">
	  <label>Email: </label><input id="rcin" name="email" placeholder="email" />
	  <input id="lgb1" type="submit" value="Send" />
	  </form>	
</div>
	<h2 id="msg"><%= @msg%></h2>
</div>