<div id="recover">
	<form id="recform" method="POST">
	  <label>email</label><input name="email" placeholder="email" />
	  <br />
	  <input id="lgb" type="submit" value="Send" />
	  </form>	
</div>

<h2><%= @msg%></h2>