<div id="registration">
	<form id="regform" method="POST">
	  <label>First Name: </label><input id="regfn" name="fname" placeholder="first name" /><br />
	  <label>Last Name: </label><input id="regln" name="lname" placeholder="last name" /><br />
	  <label>Email: </label><input id="regemail" name="email" placeholder="email" /><br />
	  <label>Username: </label><input id="regun" name="username" placeholder="username" /><br />
	  <label>Password(use numbers): </label><input id="regps" name="password" placeholder="password" /><br />
    <label>DOB: </label><input id="regbob" name="bob" placeholder="date of birth" /><br />
    <label>Gender: </label>
	    <select name="gender">
	      <option value="male">Male</option>
	      <option value="female">Female</option>
    	</select><br />
		<input id='Rb1' type="submit" value="Sign Up" />
	</form>
</div>

<h1><% @regus%></h1>

