body {
	text-align: center;
	margin: 0;

}
/*Home Page Background*/
#imagegallery img {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;

}

.rotatingimage {
	display: none;
	position: absolute;
}

/*nav bar*/

#navbar {
	background-color: white;
	position: fixed;
	width: 100%;
	padding-bottom: 20px;
	margin-top: 0px;
	z-index: 1;
	opacity: 0.8;

}

#navbar li  {
	float: left;
	display: inline-block;
	margin: 10px 130px;
	font-family: 'Open Sans', sans-serif;
}

a {
		text-decoration: none;
		outline: none;
}

#navbar li a:hover {
    color: blue;
    text-decoration: underline;
}

/*Login Form*/
#lgi1, #lgi2 {
	width: 170px;
	height: 20px;
	text-align: center;
	outline: none;
	margin-top: 20px;
	box-shadow: 0 0 10px black;

}

#lgi1 {
	margin-left: 25px;
}

#login {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	margin-top: 30px;
	font-size: 13px;
	position: absolute;
	top: 180px;
	left: 370px;

	
}

#logform {
	color: white;
	text-shadow: 0 0 10px black;

}

a {
    text-decoration: none;
  }

#lgb {
	margin-left: 70px;
	margin-top: 20px;
	height: 23px;
	width: 80px;
	background-color: #590b75;
	color: white;
	cursor: pointer;
}

#lgb:hover {
	background-color: #8844b5;
}

#Hb1, #Hb2 {
		width: 220px;
		position: relative;
    background-color: #4CAF50; 
    border: none;
    left: 40px;
    padding: 15px 32px;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    opacity: 1;

}

.homelog {
	color: white;
}

#Hb1:hover, #Hb2:hover, .button:hover, #psb:hover {
	opacity: 0.7;
}

#error_message {
	position: absolute;
	top: 160px;
	left: 460px;
	color: red;
	font-family: 'Muli', sans-serif;
}
 
/*Registration Form*/

#registration input,  #registration select {
	margin-top: 20px;
	
}


/*editpersonal page css*/

#editpersonal input, #editpersonal select {
/*	top: 100px;
	position: relative;*/
		margin-top: 20px;
} 


#editpersonal{
	position: absolute;
	margin: 150px auto;
	left: 410px;
}

 #b1, #b2, #b3, #Rb1 {

    position: relative;
    right: 10px;
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    outline: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-transform: uppercase;
}

#b1:hover, #b2:hover, #b3:hover {
	opacity: 0.7;
}
.button {
	color:white;
}
/*end of editpersonal page*/


/*GENERAL PAGE*/
#postform {
	position: absolute;
	top: 100px;
	left: 100px;

}

#psb {
	  width: 220px;
		position: relative;
    background-color: #4CAF50; 
    border: none;
    left: 87px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    display: inline-block;
    font-size: 13px;
    margin: 20px 2px;
    cursor: pointer;
    opacity: 1;

}

#puser {
	width: 315px;
	height: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
	text-align: center;
	outline: none;
	border: 1px solid black;
	font-family: 'Architects Daughter', cursive;
}

#ptext {
	vertical-align: center;
	text-transform: uppercase;
	text-align: center;
	outline: none;
	font-family: 'Architects Daughter', cursive;
}

#plab {
	position: relative;
	top: -170px;
	color: white;
	opacity: 0.9;
}
#plus {
	color: white;
	opacity: 0.9;
}

.pst  {
	
	width: 300px;
	position: relative;
	left: 600px;
	top: 100px;
}

.textpost {
	position: absolute;
	top: 100px;
	left: 110px;
	font-family: 'Architects Daughter', cursive;
}

.genimg {
	width: 400px;
	height: auto;
}

#general {
	width: 100%;
	min-height: 900px;
	height: auto;
	background-image: url("/images/general.jpg");
	position: relative;
}

/*end of general page*/





/*allusers page*/
#all_users{
	display: inline-block;
	position: absolute;
	left:570px;
	margin: 110px auto;
}

/**/

/*recover page*/

#recovermain {
	position: relative;
	width: 100%;
	min-height: 700px;
	margin: 0;
	background-image: url("/images/recover.jpg");
	color: #420b75;
}

#recover{
	display: inline-block;
	position: absolute;
	left:500px;
	margin: 300px auto;
}

#rcin {
	width: 150px;
	height: 20px;
	outline: none;
	text-align: center;
}

#msg {
	position: absolute;
	top: 580px;
	left: 450px;
	color: #420b75;
	
}

#lgb1 {
	margin-left: 124px;
	margin-top: 20px;
	height: 23px;
	width: 80px;
	background-color: #f7e51b;
	color: #420b75;
	cursor: pointer;
}

#lgb1:hover {
	background-color: #bfc120;
}


/*recover end*/

/*regristration page*/
#registration{
	display: inline-block;
	position: absolute;
	left:500px;
	margin: 110px auto;

}
/*end regristration*/


