body {
	text-align: center;
	margin: 0;

}
/*Home Page Background*/
#imagegallery img {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;

}

.rotatingimage {
	display: none;
	position: absolute;
}

/*nav bar*/

#navbar {
	background-color: white;
	position: fixed;
	width: 100%;
	padding-bottom: 20px;
	margin-top: 0px;
	z-index: 1;
	opacity: 0.8;

}

#navbar li  {
	float: left;
	display: inline-block;
	margin: 10px 130px;
	font-family: 'Open Sans', sans-serif;
}

a {
		text-decoration: none;
		outline: none;
}

#navbar li a:hover {
    color: blue;
    text-decoration: underline;
}

/*Login Form*/
#lgi1, #lgi2 {
	width: 150px;
	height: 15px;
	border-radius: 10px;
	text-align: center;
	outline: none;
	margin-top: 20px;
	box-shadow: 0 0 10px black;

}

#lgi1 {
	margin-left: 25px;
}

#login {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	margin-top: 30px;
	font-size: 13px;
	position: absolute;
	top: 260px;
	left: 500px;
	
}

#logform {
	color: white;
	text-shadow: 0 0 10px black;

}

a {
    text-decoration: none;
  }

#lgb {
	margin-left: 70px;
	margin-top: 20px;
	height: 23px;
	width: 80px;
	background-color: #590b75;
	color: white;
	border-radius: 10px;
}

.homelog {
	margin: 0 30px;
	font-size: 13px;
}

.homelog:hover {
    color: blue;
    text-decoration: underline;
}

#registration input,  #registration select {
	margin-top: 20px;
	
}


#psb {
	margin-top: 20px;
}

#puser {
	margin-top: 20px;
	margin-bottom: 20px;
}

/*editpersonal page css*/
#editpersonal input, #editpersonal select {
/*	top: 100px;
	position: relative;*/
		margin-top: 20px;
} 
/*end of editpersonal page*/


/*GENERAL PAGE*/
.pst {
	width: 30%;
	height: 40px;
	margin:10px 10px;
	vertical-align: center;
	border: 1px solid black;
	box-shadow: 0 0 10px grey;
	background-color: white;
	margin-left: 37.5%;
}
/*end of general page*/



/*#editpersonal button*/
 #b1, #b2, #b3, #Hb1, #Hb2 {
    position: relative;
    right: 10px;
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


